<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>about</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'blog/css/about.css' %}">
    </head>
    <body>
        <header>
            <a class="logo" href="/home/">Trivind</a>
            </script>
            <ul>
                <li><a href="/home/" class="hvr">Home</a></li>
                <li><a href="/test/" class="hvr">MBTI Test</a></li>
                <li><a class="active">About</a></li>
            </ul>

            <div class="dropdown dropstart">
                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="menubar"></div>
                    <div class="menubar"></div>
                    <div class="menubar"></div>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="/test/">MBTI Test</a></li>
                    <li><a class="dropdown-item" href="/home/">home</a></li>
                </ul>
            </div>
        </header>
        <section class="color">
            <div class="section">
                <img src="{% static 'blog/halo.png' %}" id="blek">
            </div>
        </section>
    </body>
    </html>