{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/loli.css' %}">

<video src="{% static 'blog/videoplayback.mp4'%}" width="89%", height="100%" autoplay muted loop></video>
<img src="{% static 'blog/shigure.gif' %}" width="19%" style=" margin-top: 20px;">
<img src="{% static 'blog/shigure.gif' %}" width="19%" style=" margin-top: 20px;">
<img src="{% static 'blog/shigure.gif' %}" width="19%" style=" margin-top: 20px;">
<img src="{% static 'blog/shigure.gif' %}" width="19%" style=" margin-top: 20px;">
<img src="{% static 'blog/shigure.gif' %}" width="19%" style=" margin-top: 20px;">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">
<img src="{% static 'blog/shigure.gif' %}" width="220px" height="229px">