<!DOCTYPE html>
<html lang="en">
    <!-- html lang untuk menentukan bahasa yang digunakan pada web -->
    <head>
        <title>Web Develompent</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/CSS" type="background-image/CSS" href="Web-Development-CSS.css">
<style>
/* selektor (contohnya p,li,a di atas) dapat digabung jadi 1 di CSS dengan pemisha tanda koma (,) */
</style>
<!-- tag style di CSS yang akan dibaca adalah urutan tag style yang paling bawah atau akhir -->
    </head>
    <body>
        <div class="kotak">
            The Web Developer
        </div>
        <h1>
Apa sih Web Developer itu?
        </h1>
        <p style="width: 1200px;"> 
            Web Developer adalah perancang sebuah website / www yang merancang sebuah website dari awal sekali, menciptakan coding dsb, atau bisa juga seorang Web Developer 
            mengembangkan sebuah website yang sudha ada. 
            Web Developer bisa bekerja secara terikat dengan perusahaan, atau menjadi pekerja lepas (freelancer). 
            Jika ingin menjadi seorang Web Developer yang ahli, kita harus memiliki pengetahuan dasar seputar coding, kemampuan desain multimedia, dan manajemen. 
            Lalu untuk pekerjaannya, ada 3 tugas utama yaitu:
        </p>
        <ol type="1">
            <li> Front End Developer </li>
            <p class="gr2">Front End Developer adalah tampilan utama sebuah website. Mulai dari desainnya, tulisannya, warna, dsb. Jadi, Front End Developer membuat 
                tampilan website yang enak dipandang oleh user, seperti bagian user interface dan user experiencenya. Seorang Front End Developer 
                harus menguasai beberapa bahasa pemrograman, seperti HTML, CSS, dan Javascript. HTML berguna untuk merangkai struktur website, CSS 
                berguna untuk membuat tampilan dari website, sedangkan Javascript berguna untuk menjalankan website. 
                Bisa dibilang, javascript adalah roda yang menggerakkan website tersebut, CSS membuat tampilan website yang indah, 
                dan HTML menjadi dasar dari sebuah website.</p>
            <li> Back End Developer </li>
            <p class="gr2">Back End Developer mengurus server, database, dan aplikasi. Jadi Back end developer mengurus data user, penyimpanan data user, dll.
                Seorang Back End Developer harus menguasai beberapa bahasa pemrograman juga, seperti PHP, Python, MySQL, dll. 
                memang lebih banyak dari Front End, karena pekerjaan Back End Developer lebih ke arah menjaga data, database, dsb</p>
            <li> Full Stack Developer </li>
            <p class="gr2"> Full Stack Developer adalah seseorang yang mengurus baik Front dan Back End website. Jadi dia harus menguasai semua bahasa 
                pemrograman yang dibutuhkan untuk mengurus Front dan Back End website. Tanggung jawab seorang full stack juga jadi 
                lebih banyak dibanding Front end maupun back end</p>
        </ol>
        <img src="Untitled-48.png" width="890" height="720">
        <h1>
            What's next?
        </h1>
        <pre>
Kemudian kita akan mulai belajar mengenai bahasa pemrogaman dasar yang diperlukan untuk seorang Web Developer. 
Disini kita akan mulai belajar dari HTML, CSS, dan terakhir Javascript, silahkan klik link dibawah guyss:
        </pre>
        <nav>
            <b>
            <a href="form-login.html" style="color: #2779a7;">Form Login</a> |
            
        </b>
        </nav>
    </body>
</html>