@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body, html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body 
{
  font-size: 135%;
  transition: background-color 1s ease;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(1,19,20,0.9864320728291317) 0%, rgba(0,212,255,1) 100%);
  z-index: -1;
}

header
{
  position: absolute;
  top: 0;
  width: 0;
  padding: 30px 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

header .dropdown
{
  position: relative;
}

.menubar
{
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 4px 0;  
}

.btn-group
{
  position: relative;
}

ul
{
  display: none;
}

.logo
{
  color: aliceblue;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent !important;
}

.section
{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.section::before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top,#364d55,transparent);
  z-index: 1000;
  transition: all 10000s linear;
  transition-duration: 1000s;
}

.section img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#info
{
  z-index: 10;
  font-family: 'Exo 2', sans-serif;
  width: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 6px 15px;
  border-radius: 20px;
  background-color: #0a0218b4;
  color: #ffffff;
  padding-top: 20px;
  margin-top: 30vh;
}

.btn-info
{
  background-color: rgba(13,110,253,.25);
  border: none;
}

#center
{
  align-items: center;
  text-align: center;
}

#inpohr
{
  background-color:#bdbdbdbb !important;
  border-radius: 2px;
}

#center #inpo
{
  margin-bottom: 0px;
}

#info a
{
  width: 5em;
}

#showDiv{
  margin-bottom: 30px;
}

hr
{
  height: 3px;
  border: none;
  background-color: rgba(56, 56, 56, 0.589);
  opacity: 0.8;
  margin: 5px;
  border-radius: 2px;
}

.ul
{
  text-align: left;
  justify-content: start;  
  padding: auto;
  padding-left: 20px;
}

.li
{
  display: list-item;
  list-style-position: inside;
  padding-right: 30px;
}

#test
{
  background-color: #364d55;
  max-width:100% ;
  max-height: 100%;
  display: none;
  place-items: center;
  background-image: url('/static/blog/stars.png');
  background-repeat: repeat-y;
}

#test p
{
  margin:0px;
}

#test .btn-info
{
  transition: all .1s ease-in-out;
  background-color: #6c9bac;
  width: 100%;
  border:1px solid #6c9bac;
  margin: 5px 0;
}

#test .btn-info:hover
{
  background-color: #6c9bac;
  width: 100%;
  outline: 2px solid #1e2b30;
}

.myform
{
  margin-top: 40px;
  background-color: rgb(76, 106, 117);
  border-radius: 10px;
  font-size: 1.2em;
  padding: 30px;
  max-height: 90%;
}

.myform label
{
  background-color: #a8b7bc;
  width: 100%;
  border-radius: 10px 10px 0 0;
  padding: 30px 20px 10px;
  font-weight: bold;
}

.radio div label
{
  border-radius: 0 0 10px 10px;
  padding-top: 0px !important;
  font-weight: normal !important;
}

.radio
{
  background-color: #a8b7bc;
  border-radius: 0 0 10px 10px;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

@media screen and (orientation: landscape){
  body
  {
    font-size: 90%;
  }
  header .dropdown
  {
    display: none;
  }
  ul
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li
  {
    list-style: none;
    margin-left: 20px;
  }

  .li
  {
    list-style: decimal;
  }

  a
  {
    transition: all .5s ease-in-out;
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-color: #aeafd12a;
  }

  a.active
  {
    transition: all .5s ease-in-out;
    background: #ffffff;
    color: #2b1055;
  }

  a.hvr:hover
  {
    background: #ffffffaf;
    color: #2b1055;
  }
}

/*font-family: 'Poppins', sans-serif;
{font-family: 'Exo 2', sans-serif;}s