@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  zoom: 1.05;
}

::-webkit-scrollbar {
  display: none;
}

body, html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body 
{
  font-size: 135%;
  transition: background-color 1s ease;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(1,19,20,0.9864320728291317) 0%, rgba(0,212,255,1) 100%);
  z-index: -1;
}

header
{
  position: absolute;
  top: 0;
  width: 0;
  padding: 30px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  zoom: 1.4;
}

header .dropdown
{
  position: relative;
}

.drop
{
  zoom: 1.3;
  transform: translate(-3em, -2px) !important;
}

.menubar
{
  width: 30px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 4px 0;  
}

.btn-group
{
  position: relative;
}

ul
{
  display: none;
}

.logo
{
  color: aliceblue;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent !important;
}

.section
{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section::before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#1c0522,transparent);
  z-index: 1000;
  transition: all 10000s linear;
  transition-duration: 1000s;
}

.section img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#tree
{
  z-index: 11;
  zoom: 0.8;
}

#moon
{
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  mix-blend-mode: screen;
}

.section img#mountainf
{
  z-index: 10;
}

.section img#mountainb
{
  z-index: 9;
}

#exp
{
  transition: all .1s ease-in-out;
  position:absolute;
  text-decoration: none;
  border-radius: 40px;
  background: aliceblue;
  color: #2b1055;
  font-size: 1.2em;
  padding: 8px;
  transition: all 1s ease!important;
  bottom : 48%;
  zoom: 1.6;
  z-index: 12;
}


.secc
{
  position: relative;
  padding: 100px;
  background-color: #1c0522;
  transition: all 0.2s linear;
  background-image: url('/static/blog/stars.png');
}

.secc h2
{
  font-size: 3.2em;
  margin-bottom: 10px;
  color: #ffff;
}

.secc p
{
  font-size: 1em;
  color: #ffff;
}

.fitur
{
  list-style:decimal !important;
}


  


@media screen and (orientation: landscape){
  *
  {
    zoom: 1;
  }

  body
  {
    font-size: 90%;
  }

  header
  {
    zoom: 1;
    padding: 30px 70px;
  }

  header .dropdown
  {
    display: none;
  }
  ul
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li
  {
    list-style: none;
    margin-left: 20px;
  }
  a
  {
    transition: all .5s ease-in-out;
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-color: #aeafd12a;
  }

  a.hvr:hover, a.active
  {
    background: #ffff;
    color: #2b1055;
  }

  #exp
  {
    zoom: 1;
  }

  #exp:hover
  { 
    background-color:#d1d1fa;
    transform: scale(1.001);
  }

  #stars
  {
    z-index: -3;
  }


}

/*font-family: 'Poppins', sans-serif;
{font-family: 'Exo 2', sans-serif;}