.btn
{
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: var(--clr-accent);
    background-color: var(--clr-rgba);
    border: 10px solid var(--clr-accent);
    border-radius: 5px;

    left: 1000px;
    right: 4000px;
    

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;

    transition: transform 0.3s ease-in 0s;

}

.btn:hover
{
    transform: translateX(10px);
    color: rgb(15, 122, 216);
}

.ab
{
    font-size: 2em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.5em 1em;
    color: aqua;
    background-color: blueviolet;
    border: 30px solid salmon;
    border-radius: 40px;
    left: 1000px;
    right: 4000px;

    transition-duration: 0.77s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.abc:hove
{
    transform: translateY(10px);
    color: rgb(15, 122, 216);
}

@keyframes slideInLeft{
    from{
        transform: translateX(400);
    }
    to{
        transform: translateX(0);
    }
}

.abc{
    animation-name: slideInLeft;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

}

/**translate X ke kanan klo positif dan ke kiri klo negatif, sedangkan translate y ke atas kalo negatif dan ke bawah klo nilainya positif